.Home {
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-shadow: 2px 2px 3px black;
}

.Home h1 {
    font-weight: bold;
    font-size: 75px;
    margin-bottom: 20px;
}

.Home-buttons {
    margin-top: 20px;
    width: 20%;
    display: flex;
    justify-content: space-around;
}

.Home-buttons a {
    color: white;
    font-weight: bold;
    text-decoration: none;
    text-shadow: 2px 2px 3px black;

}

.Home-welcome {
    margin-top: 30px;
    font-size: 5rem;
}